@font-face {
  font-family: "DungGeun";
  font-weight: normal;
  src: url("./fonts/DungGeunMo.ttf") format("truetype");
}

html {

  -ms-content-zooming: none;
  -ms-touch-action: pan-x pan-y;
  
}

body {
  background-color: black;
  font-family: DungGeun;

  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  overflow: hidden;
}

.draggable {
  -webkit-user-select:all;
  -moz-user-select:all;
  -ms-user-select:all;
  user-select:all
}

.pointer {
  cursor: pointer;
}